<h2><%= @user.email %></h2>

<p><%= @user.description %></p>
<p><%= @user.money %></p>
<p><%= @user.city %></p>
<p><%= @user.country %></p>
<p><%= @user.birthday %></p>
<p><%= @user.completed_projects %></p>


