
<table>
  <%= simple_form_for @project do |f| %>
    <tr>
      <%= f.input :title %> <br />
    </tr>
    <tr>
      <%= f.input :price %><br />
      <%= f.input :cashless %>
    </tr>
    <tr>
      <%= f.input :description %><br />
    </tr>
    <tr>
      <%= f.input :tag_list %><br />
    </tr>
    <tr>
      <%= f.button :submit %>
    </tr>
  <% end %>
</table>



