<h1>Projects tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.projects.each do |project| %>
    <li><%= link_to project.title, project_path(project) %></li>
  <% end %>
</ul>


<h1>Services tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.services.each do |service| %>
    <li><%= link_to service.name, service_path(service) %></li>
  <% end %>
</ul>




<h1>Users tagged with <%= @tag.name %></h1>

<ul>
  <% @tag.users.each do |user| %>
    <li><%= link_to user.name, user_path(user) %></li>
  <% end %>
</ul>